.root {
    width: 90px;
    height: 30px;
    margin-right: 15px;
}

.border {
    background-color: transparent;
}

.roundness {
    &_small {
        border-radius: 5px;
    }
    &_large {
        border-radius: 50px;
    }
}